body{
    margin: 0px;
}

@font-face {
    font-family: 'Satoshi';
    src: url('font/Satoshi-Regular.woff') format('woff'),
         url('font/Satoshi-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Integral CF';
    src: url('font/IntegralCF-Regular.woff') format('woff'),
         url('font/IntegralCF-Regular.woff2') format('woff2');
    font-style: normal;
}

.divAuxiliar{
    width: 5%;
}

.divBlackHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: 100%;
    background-color: #000000;
}

.signUpP{
    color: #ffffff;
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center; 
    width: 90%;
}

.signUpSpan{
    color: #ffffff;
    margin-inline-start: 3px;
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    &:hover{
        cursor: pointer;
    }
}

.xP{
    color: white;
    width: 5%;
    cursor: pointer;
}

.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.contentDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 50%;
}

.h1Div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%; 
    margin-top: -5px;
}

.mainTitle{
    font-family: Integral CF;
    font-size: 31px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    &:hover{
        cursor: pointer;
    }
}

.navDiv{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    width: 30%;
    height: 100%;
}

.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
}

.searchSpace{
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 16px;
    gap: 12px;
    border-radius: 62px;
    height: 55%;
    width: 100%;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #F0F0F0;


    &:hover{
        outline: 2px solid #9c9c9c;
    }
}

.searchContent{
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border: none;
    width: 100%;
    gap: 12px;
    color: #00000066;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    &:focus{
        outline: none;
    }
}

.Icons{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 14px;
    width: 15%;
    height: 100%;
}

.carrinhoIcon{
    width: 24px;
    height: 24px;

    &:hover{
        cursor: pointer;
    }
}

.userIcon{
    width: 24px;
    height: 24px;

    &:hover{
        cursor: pointer;
    }
}


.geralNavs{
    cursor: pointer;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.mainBackground{
    width: 100%;
    height: 100vh;
    background-position: -200px;
    background-image: url(images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mainText{
    font-family: Integral CF;
    font-weight: 700;
    font-size: 64px;
    leading-trim: Cap height;
    line-height: 64px;
    letter-spacing: 0%;
}

.text p {
    margin: 0px;
}

.smallText{
    padding-block-start: 50px;
    padding-block-end: 50px;
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
    leading-trim: Cap height;
    line-height: 22px;
    letter-spacing: 0%;

}

.shopNowButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 6vh;
    color: #ffffff;
    background-color: #000000;
    font-family: Satoshi;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    letter-spacing: 0%;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover{
        opacity: 0.9;
    }
}

.numbersAndWords{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-block-start: 70px;
    width: 40%;
}

.miniText1{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Satoshi;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    border-right: solid 1px #0000001A;
}

.miniText1 span{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}

.miniText2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Satoshi;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    border-right: solid 1px #0000001A;
}

.miniText2 span{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}

.miniText3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Satoshi;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
}

.miniText3 span{
    font-family: Satoshi;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 82px;
    padding-block-start: 120px;
    font-family: Integral CF;
    font-weight: 700;
    font-size: 64px;
}

.marcas{
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    gap: 220px;
    background-color: #000000;
}

